@charset "utf-8";
@bgColor: #fff;
@headHeight: 50px;
.tb {
    border: 1px solid red;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
.hidden {
    display: none !important;
}
body {
    background: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-size: 100%;
}
.wrapper {}
/*---------------------Header-----------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: @headHeight;
    background-color: @bgColor;
    z-index: 100;
    & > .goBack {
        position: fixed;
        width: 50px;
        left: 5px;
        right: 10px; //      .tb;
    }
    & > h2 {
        text-align: center;
    }
}
.fa-user {
    position: fixed;
    top: 10px;
    right: 20px;
    color: #82cfc7;
    font-size: 24px;
}
.userPanel {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #458B74;
    color: #fff;
    width: 100px;
    padding: 5px;
    text-align: center;
    line-height: 28px;
    border-radius: 5px;
}
nav {
    position: fixed;
    top: @headHeight;
    width: 100%;
    height: 35px;
    line-height: 30px;
    background-color: @bgColor;
    display: flex; //  z-index: 100;
    padding-bottom: 10px;
    z-index: 10;
    & > a {
        text-align: center;
        flex: 1;
        width: 50%;
        color: #000;
    }
    span {
        display: inline-block;
        padding: 0 20px;
        border-radius: 8px;
    }
}
.active {
    background-color: #EBEBEB;
}
/*---------------------content-wapper-----------------*/
.home-content {
    position: relative;
    top: 85px;
    padding-top: 5px; //  .tb;
    & > section {
        width: 100%;
        margin-top: 5px;
    }
}
#teacher-Info {
    display: flex;
    -webkit-flex-wrap: wrap;
    padding: 0 8px;
    & > div {
        width: 200px;
        flex: 1;
        margin: 3px;
        background-color: @bgColor;
        display: inline-block;
        text-align: center;
    }
}
#tutoring-Info {
    //  overflow: hidden;
    margin: 8px auto 0;
}
.in-tutoring-Info {
    background-color: @bgColor;
    width: 97%;
    height: 520px;
    margin: 0 auto;
    padding: 10px;
    overflow: scroll;
}
.tutor-item {
    display: flex;
    justify-content: space-around;
    height: 20px; //  .tb;
    margin-bottom: 10px;
    text-align: center;
    p[name= "address"] {
        //     .tb;
        flex: 0.7;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.footer-wrapper {
    //  .tb;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 50px; //  background-color: @bgColor;
    &>div {
        //      .tb;
        width: 97%;
        height: 100%; //      line-height: 40px;
        margin: 0 auto; //      background-color: @bgColor;
        padding-top: 10px; //      position: relative;
    }
    button {
        background-color: #406B5F;
        color: #fff; //      height: 25px;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
.go-tutorDetail {
    color: blue;
}
/*---------page 3------------Tutoring Detail--------------------*/
#tutoring-detail {
    margin-top: @headHeight;
    .infoTitle {
        line-height: 30px;
        padding: 0 10px;
    }
    .releaseTime {
        float: right;
        font-size: 14px;
    }
}
.infoItem {
    background-color: @bgColor;
    margin-bottom: 3px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    /*垂直居中*/
     :first-child {
        color: gray;
        flex: 1;
        text-align: right;
        margin-right: 16px;
    }
     :nth-child(2) {
        flex: 2.5; //     
    }
}
.reserve {
    font-size: 20px !important;
}
.submit-reserve:extend(.reserve){}
.in-reservation-Form {
    margin-top: @headHeight; //  .tb;
    padding: 20px;
    .tutorInfoID {}
    & >.description {
        height: 400px; //      .tb;
        background-color: @bgColor;
        margin-top: 10px;
        padding: 5px;
        text-indent: 2em;
    }
    textarea {
        border: 2px solid #78D9BD;
        display: block;
        width: 80%;
        margin: 0 auto;
        height: 250px;
    }
}
/*----------page 2 -----------Identity Authentication-----------------*/
#identity-authentication {
    background-attachment: fixed;
    position: relative;
    top: @headHeight;
    padding-top: 5px; //  .tb;
    & > section {
        width: 100%;
        margin-top: 5px;
    }
}
.img-info {
    padding: 0 10px;
    color: #fff;
    margin-top: 0; //  .tb;
}
p[name = "remainder"] {
    background-color: #3E3554;
    color: #fff; //  text-space-collapse: 1em;
    padding: 5px 10px;
    line-height: 25px;
    position: relative;
    top: -5px;
    font-size: 14px;
    margin-bottom: 10px;
}
.flex-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px; //  .tb;
}
@imgHeight: 100px;
.img-panel {
    text-align: center;
    font-size: 12px; //  .tb;
    width: @imgHeight;
    height: @imgHeight+40px;
    position: relative;
    margin-bottom: 10px;
//  .tb;
    &>div {
        background-color: @bgColor;
        height: @imgHeight;
        width: @imgHeight;
        margin-bottom: 10px;
//      .tb;
    }
    input {
        width: @imgHeight;
        height: @imgHeight;
        line-height: (@imgHeight)-10px;
        position: absolute;
        top: 0;
        left:0;
        z-index: 100;
        opacity: 0;
//      .tb;
    }
}
.add-file-wrapper {
    //  opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.fa-plus {
    color: #000000;
    font-size: 20px;
    display: block;
    position: absolute;
    top: (@imgHeight/2) - 10px;
    left: (@imgHeight/2) - 10px;
    width: 20px;
    height: 20px;
}
.clap {
    height: 10px;
    background-color: @bgColor;
//  width:120%;
}
.text-info {
    padding: 0 20px;
    &>label {
        display: block;
        width: 100%; //      .tb;
        margin: 10px auto;
        background-color: @bgColor;
        line-height: 30px;
        font-size: 14px;
        padding: 0 16px;
        border-radius: 16px;
    }
    input {
        line-height: 30px;
    }
}

.confirmIdentify{
         background-color: #642170 !important;
        font-size: 14px !important;
        padding: 5px 16px !important;
        border-radius: 12px !important;
        width: 100% !important;
        line-height: 30px !important;
        color: #fff !important;
}


/*----------page 3 -----------Register-----------------*/
#register{
    *{
        .tb;
    }
    .tb;
    padding:20px 0;
    margin-top:@headHeight;
    text-align: center;
    input,textarea{
        width:100%;
        display: block;
        margin:10px auto;
        line-height: 30px;
        border-radius: 5px;
        padding:5px;
    }
    
}





