@charset "utf-8";
@inputHeight: 38px;
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.tb {
    border: 1px solid red;
}
a {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 10px;
    text-decoration: none;
    font-size:18px;
//  font-family: "SimHei" ; 
    font-weight: 400;
    
}
body {
    background: url("../img/bgLogin.jpg");
    background-attachment: fixed;
    background-repeat: none;
    background-size: 100%;
    font-family: "SimHei" ; 
    font-size: 16px;
}
.logo {
    margin: 70px auto 110px auto;
    width: 100px;
    height: 100px;
    background: url("../img/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.tagline {
    color: #fff;
    margin-bottom: 50px;
    font-size: 16px;
}
#cellPhone {
    height: @inputHeight;
    width: 90%;
    
    border-radius: 15px;
    padding: 10px;
    text-align: center;
//  color: #7B378C; //  .tb;
    //  box-shadow: 5px;;
}
#pwd:extend(#cellPhone){
    width: 100%;
}
.pwd-wrapper {
    //  .tb;
    position: relative;
    width: 90%;
    margin: 20px auto 0;
}
.togglePwdView {
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: (@inputHeight/2) - 8px;
//  color: #82cfc7; //  .tb;
    opacity:0.5;
}
.warning {
    color: red;
    margin-bottom: 10px;
}
.role,
.logIn,
.go-register {
    /*font-size: 18px;*/
    margin-top: 20px;
}
.logIn {
    margin-right: 20px;
}
.logIn,
.go-register {
    background-color: #82cfc7;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px;
    color: #fff; //  .tb;
    font-family: "SimHei";
    font-weight: 400;
    box-shadow:5px 5px 5px 5px #A8A8A8;
}
label{
    color: #fff;
    display: inline-block;
    width: 80px;
}
.footer-wrapper {
    position: fixed;
    width: 100%;
    bottom: 50px;
    text-align: center; 
}
.infooter-wrapper {
    width: 97%;
    height: 100%; //      line-height: 40px;
    margin: 0 auto; //      background-color: @bgColor;
}
.hidden{
    display: none;
}
