@charset "utf-8";
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.tb {
  border: 1px solid red;
}
a {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  font-size: 14px;
}
body {
  background: url("../img/bgLogin.jpg");
  background-attachment: fixed;
  background-repeat: none;
  background-size: 100%;
  font-family: "Times";
  font-size: 16px;
}
.logo {
  margin: 70px auto 110px auto;
  width: 100px;
  height: 100px;
  background: url("../img/logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.tagline {
  color: #fff;
  margin-bottom: 50px;
  font-size: 16px;
}
#cellPhone,
#pwd {
  height: 38px;
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: #7B378C;
}
#pwd {
  width: 100%;
}
.pwd-wrapper {
  position: relative;
  width: 90%;
  margin: 20px auto 0;
}
.fa-eye {
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 11px;
  color: #82cfc7;
}
.warning {
  color: red;
  margin-bottom: 10px;
}
.role,
.logIn,
.go-register {
  /*font-size: 18px;*/
  margin-top: 20px;
}
.logIn {
  margin-right: 20px;
}
.logIn,
.go-register {
  background-color: #82cfc7;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  padding: 5px;
  color: #fff;
}
label {
  color: #fff;
  display: inline-block;
  width: 80px;
}
.footer-wrapper {
  position: fixed;
  width: 100%;
  bottom: 50px;
  text-align: center;
}
.infooter-wrapper {
  width: 97%;
  height: 100%;
  margin: 0 auto;
}
